<div class="login">
    <h2 class="login-header">Log in</h2>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="signIn()">
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
        <input type="text" placeholder="Benutzername" formControlName="username">
      </p>
      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Benutzername darf nicht leer sein</div>
      </div>
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
      </p>
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Passwort darf nicht leer sein</div>
      </div>
      <p>
        <input type="submit" value="Anmelden">
      </p>
    </form>
  </div>